# Ignore Visual Studio temporary files, build results, and
# the folder containing project configuration files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build output directories
artifacts/
bin/
obj/
Debug/
Release/

# Ignore Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignore log files
*.log

# Ignore other OS-specific files
*.DS_Store

# Ignore JetBrains Rider project files
.idea/
*.iml
out/