@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<h3>@ViewData["Title"]</h3>

<div>
    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Role">New Role</label>
            <select asp-for="Input.Role" class="form-control" asp-items="@(new SelectList(Model.Input.AllRoles))"></select>
        </div>
        <input type="hidden" asp-for="Input.Login" />
        <button type="submit" class="btn btn-primary">Change Role</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
