@page
@model Kino.Areas.Identity.Pages.Account.RegisterModel // Ensure this matches the namespace and class name
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4>Create a new account.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Login" class="control-label"></label>
                <input asp-for="Input.Login" class="form-control" />
                <span asp-validation-for="Input.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Imie" class="control-label"></label>
                <input asp-for="Input.Imie" class="form-control" />
                <span asp-validation-for="Input.Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Nazwisko" class="control-label"></label>
                <input asp-for="Input.Nazwisko" class="form-control" />
                <span asp-validation-for="Input.Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Haslo" class="control-label"></label>
                <input asp-for="Input.Haslo" type="password" class="form-control" />
                <span asp-validation-for="Input.Haslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmHaslo" class="control-label"></label>
                <input asp-for="Input.ConfirmHaslo" type="password" class="form-control" />
                <span asp-validation-for="Input.ConfirmHaslo" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary"gister</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}