@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
   Hasło zostało zmienione. <a asp-page="./Login">Kliknij by się zalogować.</a>.
</p>
